<div class="add_new_match">
    <button mat-flat-button (click)="createNewMatch()" color="accent">ROZPOCZNIJ NOWY MECZ</button>
</div>

<div class="card_container">
    <div class="card_match_in_progress" *ngFor=" let match of matchListArrayInProgress; let i = index">
        <div class="title">
            <h2>Mecz numer: {{match.id}}</h2>
        </div>
        <div class="teams_container">
            <!--------------------------OCZEKUJE NA WYNIK----------------------------->
            <div class="team_1" *ngIf="match.status == 'Oczekuje na podanie wyniku'">
                <h3>{{match.team_1!.name}}</h3>
                <div class="users_list">
                    <div class="user" *ngFor="let userTeam of match.team_1?.users">
                        <img src={{userTeam!.champion.image}} alt="">
                        <p>{{userTeam.user!.username}}</p>
                    </div>
                </div>
            </div>
            <!--------------------------OCZEKUJE NA WYNIK----------------------------->
            <div class="middle_info_result_buttons" *ngIf="match.status == 'Oczekuje na podanie wyniku'">
                <h3>Wygrywa:</h3>
                <button (click)="resultWinTeam1(match.id)" mat-flat-button color="accent">Team BLUE</button>
                <button (click)="resultWinTeam2(match.id)" mat-flat-button color="accent">Team RED</button>
            </div>
            <!--------------------------OCZEKUJE NA WYNIK----------------------------->
            <div class="team_2" *ngIf="match.status == 'Oczekuje na podanie wyniku'">
                <h3>{{match.team_2!.name}}</h3>
                <div class="users_list">
                    <div class="user side_right" *ngFor="let userTeam of match.team_2?.users">
                        <p>{{userTeam.user!.username}}</p>
                        <img src={{userTeam!.champion.image}} alt="champion">
                    </div>
                </div>
            </div>
            <!------------------------------------------------------------------>
            <!------------------------------------------------------------------>
            <!--------------------------MECZ DODANY----------------------------->
            <div class="team_1" *ngIf="!match.team_1">
                <!-- <h3>Brak Teamu 1</h3> -->
            </div>
            <!--------------------------MECZ DODANY----------------------------->
            <div class="middle_info" *ngIf="!match.team_1">
                <h2 (click)="createTeamToMatch(match.id)" class="create_team_txt">Utwórz drużyny</h2>
            </div>
            <!--------------------------MECZ DODANY----------------------------->
            <div class="team_2" *ngIf="!match.team_2">
                <!-- <h3>Brak Teamu 2</h3> -->
            </div>
            <!---------------------------------------------------------------------->
            <!---------------------------------------------------------------------->
            <!--------------------------TEAMY UTWORZONE----------------------------->
            <div class="team_created" *ngIf="match.status == 'Oczekuje na dodanie graczy'">
                <h3 *ngIf="!setRandomUsersInTeam">Wybierz graczy</h3>
                <div class="users_list">
                    <form *ngIf="!setRandomUsersInTeam" [formGroup]="userForm" (submit)="randomTeamFromUsers()" class="form_column_user">
                        <div class="form_row_user">
                            <mat-form-field appearance="outline">
                                <!-- <mat-label>Gracz</mat-label> -->
                                <mat-select formControlName="user1" placeholder="Gracz 1">
                                  <mat-option *ngFor="let user of userListArray" value={{user.id}}>{{user.username}}</mat-option>
                                </mat-select>
                                <div *ngIf="f['user1'].touched && f['user1'].invalid" class="alert alert-danger"></div>
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                <!-- <mat-label>Gracz</mat-label> -->
                                <mat-select formControlName="user2" placeholder="Gracz 2">
                                    <mat-option *ngFor="let user of userListArray" value={{user.id}}>{{user.username}}</mat-option>
                                </mat-select>
                                <div *ngIf="f['user2'].touched && f['user2'].invalid" class="alert alert-danger"></div>
                              </mat-form-field>
                        </div>
                        <div class="form_row_user">
                            <mat-form-field appearance="outline">
                                <!-- <mat-label>Gracz</mat-label> -->
                                <mat-select formControlName="user3" placeholder="Gracz 3">
                                  <mat-option *ngFor="let user of userListArray" value={{user.id}}>{{user.username}}</mat-option>
                                </mat-select>
                                <div *ngIf="f['user3'].touched && f['user3'].invalid" class="alert alert-danger"></div>
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                <!-- <mat-label>Gracz</mat-label> -->
                                <mat-select formControlName="user4" placeholder="Gracz 4">
                                    <mat-option *ngFor="let user of userListArray" value={{user.id}}>{{user.username}}</mat-option>
                                </mat-select>
                                <div *ngIf="f['user4'].touched && f['user4'].invalid" class="alert alert-danger"></div>
                              </mat-form-field>
                        </div>
                        <div class="form_row_user">
                            <mat-form-field appearance="outline">
                                <!-- <mat-label>Gracz</mat-label> -->
                                <mat-select formControlName="user5" placeholder="Gracz 5">
                                  <mat-option *ngFor="let user of userListArray" value={{user.id}}>{{user.username}}</mat-option>
                                </mat-select>
                                <div *ngIf="f['user5'].touched && f['user5'].invalid" class="alert alert-danger"></div>
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                <!-- <mat-label>Gracz</mat-label> -->
                                <mat-select formControlName="user6" placeholder="Gracz 6">
                                    <mat-option *ngFor="let user of userListArray" value={{user.id}}>{{user.username}}</mat-option>
                                </mat-select>
                                <div *ngIf="f['user6'].touched && f['user6'].invalid" class="alert alert-danger"></div>
                              </mat-form-field>
                        </div>
                        <button mat-flat-button color="accent">Wylosuj teamy</button>
                    </form>
                </div>
                    <!--------------------------WYLOSOWANE DRYZYNY DO AKCEPTACJI----------------------------->
                <div class="users_list_random_team">
                    <div *ngIf="setRandomUsersInTeam" class="current_random_teams teams_container">
                        <div class="team_1">
                            <h3>{{match.team_1!.name}}</h3>
                            <div class="users_list">
                                <div class="user" *ngFor="let randomUser of this.userListByIdTeam1">
                                    <!-- <img src={{userTeam!.champion.image}} alt=""> -->
                                    <p>{{randomUser}}</p>
                                </div>
                            </div>
                        </div>
                        <!--------------------------WYLOSOWANE DRYZYNY DO AKCEPTACJI----------------------------->
                        <div class="middle_info_users_buttons">
                            <!-- <h1>{{match.result}}</h1> -->
                            <!-- <h3 (click)="addUsersTomatch(match.id)">Zaakceptuj drużyny</h3>
                            <h3 (click)="randomTeamFromUsers()">Losuj ponownie</h3> -->
                            <button (click)="addUsersTomatch(match.id)" mat-flat-button color="accent">Zaakceptuj drużyny</button>
                            <button (click)="randomTeamFromUsers()" mat-flat-button color="primary">Losuj ponownie</button>
                        </div>
                        <!--------------------------WYLOSOWANE DRYZYNY DO AKCEPTACJI----------------------------->
                        <div class="team_2">
                            <h3>{{match.team_2!.name}}</h3>
                            <div class="users_list">
                                <div class="user side_right" *ngFor="let randomUser of this.userListByIdTeam2">
                                    <p>{{randomUser}}</p>
                                    <!-- <img src={{userTeam!.champion.image}} alt="champion"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------------------------------------------>
            </div>
            <!--------------------------DODAWANIE POSTACI----------------------------->
            <form *ngIf="match.status == 'Oczekuje na dodanie postaci'" [formGroup]="championForm" class="champion_add_container">
                <div class="team_1_champion" *ngIf="match.status == 'Oczekuje na dodanie postaci'">
                    <h3>{{match.team_1!.name}}</h3>
                    <div class="users_list">
                        <div class="user">
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="champion1" placeholder="Champion 1">
                                    <mat-option *ngFor="let champion of championsListArray" value={{champion.id}}>{{champion.name}}</mat-option>
                                </mat-select>
                                <div *ngIf="f1['champion1'].touched && f1['champion1'].invalid" class="alert alert-danger"></div>
                              </mat-form-field>
                            <p>{{match.team_1?.users![0].user!.username}}</p>
                        </div>

                        <div class="user">
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="champion2" placeholder="Champion 2">
                                    <mat-option *ngFor="let champion of championsListArray" value={{champion.id}}>{{champion.name}}</mat-option>
                                </mat-select>
                                <div *ngIf="f1['champion2'].touched && f1['champion2'].invalid" class="alert alert-danger"></div>
                              </mat-form-field>
                            <p>{{match.team_1?.users![1].user!.username}}</p>
                        </div>

                        <div class="user">
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="champion3" placeholder="Champion 3">
                                    <mat-option *ngFor="let champion of championsListArray" value={{champion.id}}>{{champion.name}}</mat-option>
                                </mat-select>
                                <div *ngIf="f1['champion3'].touched && f1['champion3'].invalid" class="alert alert-danger"></div>
                              </mat-form-field>
                            <p>{{match.team_1?.users![2].user!.username}}</p>
                        </div>
                    </div>
                </div>
                <!--------------------------DODAWANIE POSTACI----------------------------->
                <!-- <div class="middle_info" *ngIf="match.status == 'Oczekuje na dodanie postaci'">

                </div> -->
                <!--------------------------DODAWANIE POSTACI----------------------------->
                <div class="team_2_champion" *ngIf="match.status == 'Oczekuje na dodanie postaci'">
                    <h3>{{match.team_2!.name}}</h3>
                    <div class="users_list">
                        <div class="user">
                            <p>{{match.team_2?.users![0].user!.username}}</p>
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="champion4" placeholder="Champion 4">
                                    <mat-option *ngFor="let champion of championsListArray" value={{champion.id}}>{{champion.name}}</mat-option>
                                </mat-select>
                                <div *ngIf="f1['champion4'].touched && f1['champion4'].invalid" class="alert alert-danger"></div>
                              </mat-form-field>
                        </div>

                        <div class="user">
                            <p>{{match.team_2?.users![1].user!.username}}</p>
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="champion5" placeholder="Champion 5">
                                    <mat-option *ngFor="let champion of championsListArray" value={{champion.id}}>{{champion.name}}</mat-option>
                                </mat-select>
                                <div *ngIf="f1['champion5'].touched && f1['champion5'].invalid" class="alert alert-danger"></div>
                              </mat-form-field>
                        </div>

                        <div class="user">
                            <p>{{match.team_2?.users![2].user!.username}}</p>
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="champion6" placeholder="Champion 6">
                                    <mat-option *ngFor="let champion of championsListArray" value={{champion.id}}>{{champion.name}}</mat-option>
                                </mat-select>
                                <div *ngIf="f1['champion6'].touched && f1['champion6'].invalid" class="alert alert-danger"></div>
                              </mat-form-field>
                        </div>
                    </div>
                </div>
                <!------------------------------------------------------------------>
            </form>
        </div>
        <div *ngIf="match.status == 'Oczekuje na dodanie postaci'" class="btn_add_champions">
            <button (click)="addChampionsToUsers(match.id)" mat-flat-button color="accent">Zatwierdź postacie</button>
        </div>
    </div>




<!------------------------------------------------------------------>
<!------------------------------------------------------------------>
    <div class="card" *ngFor=" let match of matchListArray; let i = index">
        <div class="title">
            <h2>Mecz numer: {{match.id}}</h2>
        </div>
        <div class="teams_container">
            <!--------------------------MECZ ZAKOŃCZONY----------------------------->
            <div class="team_1" *ngIf="match.status == 'Mecz zakończony'">
                <h3>{{match.team_1!.name}}</h3>
                <div class="users_list">
                    <div class="user" *ngFor="let userTeam of match.team_1?.users">
                        <img src={{userTeam!.champion.image}} alt="">
                        <p *ngIf="match.result == 'TEAM 1'" class="font_green">{{userTeam.user!.username}}</p>
                        <p *ngIf="match.result == 'TEAM 2'" class="font_red">{{userTeam.user!.username}}</p>
                    </div>
                </div>
            </div>
            <!--------------------------MECZ ZAKOŃCZONY----------------------------->
            <div class="middle_info" *ngIf="match.status == 'Mecz zakończony'">
                <h2 class="font_green">Zwycięża:</h2>
                <h1 *ngIf="match.result == 'TEAM 1'">TEAM BLUE</h1>
                <h1 *ngIf="match.result == 'TEAM 2'">TEAM RED</h1>
            </div>
            <!--------------------------MECZ ZAKOŃCZONY----------------------------->
            <div class="team_2" *ngIf="match.status == 'Mecz zakończony'">
                <h3>{{match.team_2!.name}}</h3>
                <div class="users_list">
                    <div class="user side_right" *ngFor="let userTeam of match.team_2?.users">
                        <p *ngIf="match.result == 'TEAM 1'" class="font_red">{{userTeam.user!.username}}</p>
                        <p *ngIf="match.result == 'TEAM 2'" class="font_green">{{userTeam.user!.username}}</p>
                        <img src={{userTeam!.champion.image}} alt="champion">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------>
<!------------------------------------------------------------------>


