<div class="card_container">
    <div class="card" *ngFor=" let match of matchListArray">
        <div class="title">
            <h2>Mecz numer: {{match.id}}</h2>
        </div>
        <div class="teams_container">
            <div class="team_1">
                <h3>{{match.team_1!.name}}</h3>
                <div class="users_list">
                    <div class="user" *ngFor="let userTeam of match.team_1?.users">
                        <img src="./../../../../assets/yasuo.png" alt="">
                        <p>{{userTeam.user![0].username}}</p>
                    </div>
                </div>
            </div>
            <div class="team_2">
                <h3>{{match.team_2!.name}}</h3>
                <div class="users_list">
                    <div class="user side_right" *ngFor="let userTeam of match.team_2?.users">
                        <p>{{userTeam.user![0].username}}</p>
                        <img src="./../../../../assets/yasuo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
