.card_container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.card{
    width: 100%;
    height: auto;
    background-color: rgb(41, 99, 207);
    border-radius: 10px;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    color: #fff;
}
.card_match_in_progress{
    width: 100%;
    height: auto;
    background-color: rgb(207, 163, 41);
    border-radius: 10px;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    color: #fff;
}
.title{
    display: flex;
    justify-content: center;
}
.teams_container{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
.team_1{
    width: 35%;
    // background-color: rgb(255, 255, 255);
    margin-left: 1rem;
}
.team_1 h3{
    text-align: center;
}
.team_2{
    width: 35%;
    margin-right: 1rem;
}
.team_2 h3{
    text-align: center;
}
.middle_info{
    width: 30%;
    display: flex;
    flex-direction: column;
    // row-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.users_list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.users_list_random_team{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
}
.user{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}
.user img{
    width: 60px;
}
.user p{
    margin: 0px;
    font-weight: 500;
    font-size: 1.1rem;
}
.side_right{
    justify-content: end;
}
.create_team_txt{
    cursor: pointer;
}
.team_created{
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
}
.form_column_user{
    display: flex;
    flex-direction: column;
    // row-gap: 0.5rem;
}
.form_row_user{
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline{
    background-color: #fff;
    border-radius: 6px;
}
.add_new_match{
    width: 100%;
}
.add_new_match button{
    width: 100%;
}
.champion_add_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.team_1_champion{
    width: 100%;
    // background-color: rgb(255, 255, 255);
    margin-left: 1rem;
}
.team_1_champion h3{
    text-align: center;
}
.team_2_champion{
    width: 100%;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.team_2_champion h3{
    text-align: center;
    width: 100%;
}
.btn_add_champions{
    margin-left: 1rem;
    margin-right: 1rem;
}
.btn_add_champions button{
    width: 100%;
}
.middle_info_result_buttons{
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.middle_info_result_buttons button{
    width: 80%;
}
.middle_info_users_buttons{
    width: 220px;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.middle_info_users_buttons button{
    width: 100%;
}