.card_container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.card{
    width: 100%;
    height: auto;
    background-color: rgb(41, 99, 207);
    border-radius: 10px;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    color: #fff;
}
.title{
    display: flex;
    justify-content: center;
}
.teams_container{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
.team_1{
    width: 50%;
    // background-color: rgb(255, 255, 255);
    margin-left: 1rem;
}
.team_1 h3{
    text-align: center;
}
.team_2{
    width: 50%;
    margin-right: 1rem;
}
.team_2 h3{
    text-align: center;
}
.users_list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.user{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}
.user img{
    width: 60px;
}
.user p{
    margin: 0px;
    font-weight: 500;
    font-size: 1.1rem;
}
.side_right{
    justify-content: end;
}