.card_header{
    background-color: #CFA329;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card_header h3{
    margin: 0px;
    color: #fff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.ranking_content{
    display: flex;
    flex-direction: column;
    height: calc(50vh - 84px);
    background-color: rgb(240, 240, 240);
    overflow: auto;
}
.ranking_content::-webkit-scrollbar {
    display: none;
  }
.user_ranking{
    padding: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ranking_stats{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
.ranking_stats p{
    width: 30px;
    display: flex;
    justify-content: flex-end;
}
.font_red{
    color: #fd4081;
}
.font_green{
    color: #1eca58;
}
.txt_center{
    display: flex;
    justify-content: center;
    text-align: center;
}
.txt_center h3{
    margin: 0px;
}