.card_header{
    background-color: #CFA329;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card_header h3{
    margin: 0px;
    color: #fff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.container_champions_picked{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.2rem;
    row-gap: 0.2rem;
}
.images_container{
    display: flex;
    flex-direction: row;
}
img{
    width: 60px;
}